<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="recipeName">
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea name="description" id="description" rows="5" class="form-control"
                [(ngModel)]="recipeDescription"></textarea>
        </div>
        <div class="form-group">
            <label for="imagePath">Image:</label>
            <input type="file" class="form-control" id="imagePath" [(ngModel)]="recipeImagePath">
        </div>
        <div class="form-group">
            <label for="ingredients">Ingredients:</label>
            <textarea name="ingredients" id="ingredients" rows="5" placeholder="ingredientName : qta"
                class="form-control" [(ngModel)]="recipeIngredients"></textarea>
        </div>
        <div class="form-group" style="margin-top: 20px !important;">
            <input type="button" class="btn btn-success btn-block" [(ngModel)]="buttonText" (click)="onSave()">
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>