<div class="row">
  <div class="col-xs-12">
    <img
      [src]="recipeService.selectedRecipe.imagePath"
      [alt]="recipeService.selectedRecipe.name"
      class="img-responsive"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipeService.selectedRecipe?.name }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">{{ recipeService.selectedRecipe?.description }}</div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h4>Ingredients</h4>
    <div class="list-group" style="list-style: none">
      <li *ngFor="let ingredient of recipeService.selectedRecipe.ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="button-group" appDropdown>
      <button class="btn btn-primary dropdown-toggle">
        Manage Recipe
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li (click)="addToShoppingList()"><a>To Shopping List</a></li>
        <li><a>Edit Recipe</a></li>
        <li><a>Delete Recipe</a></li>
      </ul>
    </div>
    <!-- <button class="btn-primary" (click)="sendToShoppingList()">To shopping list</button> -->
  </div>
</div>
