/* You can add global styles to this file, and also import other style files */
a {
  cursor: pointer;
}
.modal {
  opacity: 1;
}
.modal .modal-dialog {
  top: 30px;
  width: 360px !important;
  margin-top: 120px;
  margin: 30px auto;
}
.modal .modal-content {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.modal .confirm {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  min-height: 150px;
}
.modal .content {
  padding: 20px;
  border-radius: 10px;
  background-color: #fff !important;
  font-weight: 700;
}
.modal .buttons {
  padding: 10px 15px;
  float: right;
}
.modal button {
  margin-right: 10px;
}
