<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Elimina ricetta</h4>
  <!-- <button
    type="button"
    class="btn-close"
    aria-describedby="modal-title"
    (click)="modal.dismiss('Cross click')"
  ></button> -->
</div>
<div class="modal-body">
  <p>
    <strong>Sei sicuro di voler eliminare la ricetta selezionata?</strong>
  </p>

  <p>Tutte le informazioni saranno eliminate permanentemente</p>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-secondary"
    (click)="modal.dismiss('cancel')"
  >
    Annulla
  </button>
  <button
    type="button"
    class="btn btn-danger"
    (click)="modal.close('confirm')"
  >
    Conferma
  </button>
</div>
